<nav class="headerContent">
    <ul class="imgNav">
        <a routerLinkActive="active" [routerLink]="['']"><img class="imgLogo" src="../../assets/logo.png"></a>
        <a routerLinkActive="active" [routerLink]="['']"><p>Soundwave</p></a>
    </ul>     
    <ul class="textoDiscoJoin">
        <li class="discoverAndJoin">
            <a routerLinkActive="active"[routerLink]="['/discover']">Discover</a>
            <a routerLinkActive="active"[routerLink]="['/join']">Join</a>
        </li>
    </ul>
</nav>