<section class="joinContent">
    <p class="joinText">Join the </p><p class="fun">fun.</p>
    <form class="formContent">
        <label class="formLabel">Nombre</label>
        <input class="formBox" type="name" >

        <label class="formLabel">Email</label>
        <input class="formBox" type="email" >

        <label class="formLabel">Password</label>
        <input class="formBox" type="password" >

        <button class="joinNow">
            <ul><a routerLinkActive="active" [routerLink]="['/home']">Join Now</a></ul>
        </button>
    </form>
</section>
<section>
    <div class="imgCircleOne"></div>
    <div class="imgCircleTwo"></div>
</section>
<app-footwe></app-footwe>
