<body class="discoverContent">
    <section class="textsContent">
        <h1 class="titleCon">Discover new music</h1>
        <div class="contentImgs">
            <div class="insideContentImgs">
                <img src="../../assets/microphone.svg">
                <p>Charts</p>
            </div>
            <div class="insideContentImgs">
                <img src="../../assets/albums.svg">
                <p>Albums</p>
            </div>
            <div class="insideContentImgs">
                <img src="../../assets/more.svg">
                <p>More</p>
            </div>
        </div>
        <p class="textNormal">By joining you can benefit by listening to the latest albums released</p>
    </section>
    <div class="imgGranDisc">
        <img src="../../assets/covers.jpg">
    </div>
</body>
