// @import "../../styles.scss"

.discoverContent{
    background-color: #2F303A;
    gap: 2rem;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textsContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins';
    color: white;
}
.titleCon{
    font-size: 2rem;
}
.contentImgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 2rem;
    gap: 2rem;
}
.insideContentImgs{
    background-color: #202027;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.imgGranDisc{
    display: flex;
    width: 20rem;
    height: 20rem;
}
@media(max-width:430px){
    .discoverContent{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgGranDisc{
        position:sticky;
        width: 21rem;
        height: 21rem;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
}