<section class="homeContent">
    
    <img class="imgGirl" src="../../assets/landing-page-girl.png" alt="">
    
    <div class="textSecond">
        <p class="textFeel">Feel The Music</p><br>
        <p class="textSec">Stream over 20 thousand songs whit one click</p><br>
        <button class="joinNow">
            <ul><a routerLinkActive="active" [routerLink]="['/join']">Join Now</a></ul>
        </button>
    </div>
</section>
<div>
    <div class="imgCircleOne"></div>
    <div class="imgCircleTwo"></div>
    <div class="imgCircleThree"></div>
</div>
